@model ProjectASP.Models.UserStatistics

@{
    ViewData["Title"] = "Gebruikerspagina";
}

<h1>Gebruikerspagina</h1>

<div>
    <h3>Statistieken</h3>
    <p>Aantal gewonnen matches: @Model.WonMatches</p>
    <p>Aantal gewonnen legs: @Model.WonLegs</p>
</div>
