@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Matches" asp-action="Index" class="btn btn-primary">Ga naar Matches</a>
    <a asp-controller="Scoreboard" asp-action="Index" class="btn btn-primary">Ga naar Scoreboard</a>
    <a asp-controller="Login" asp-action="Index" class="btn btn-primary">Ga naar Login</a>
</div>
